<div class="container">
    <h1 class="page-heading">Reduce</h1>
    <div class="content-wrapper">
        <ul>
            <li>In reduce operator, accumulator function is used on the input observable</li>
            <li>Accumulator function will return the accumulated value in the form of an observable, with an optional seed value passed to the accumulator function.</li>
            <li>It will return an observable that will have a single accumulated value.</li>
        </ul>
    </div>

    <section class="page-sections">
        <h3>Code:</h3>
        <pre>
            <code>
                Observable$.pipe(
                    reduce((total, product: any) => total + product.price, 0)
                )
            </code>
        </pre>
    </section>

    <section class="page-sections">
        <h3>Example:</h3>
        <h5>Total amount as single output value</h5>
        <table style-table>
            <thead>
                <th>Product ID</th>
                <th>Product name</th>
                <th>Product price</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of (products$ | async)">
                    <td>{{product.productId}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price | number:'1.0'}}</td>
                </tr>
                <tr>
                    <td colspan="2">Total Amount</td>
                    <td><strong>
                        <span>₹</span>
                        {{totalAmount$ | async | number: '1.0'}}
                    </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    
</div>