.content-wrapper {
    .syntax-wrapper {
        pre {
            height: 80px;
            width: 600px;
            text-align: left;
            font-size: 16px;
            font-family: monospace;
            overflow: hidden;
        }
    }
}
