section.demo {
    display: grid;
    place-items: center;
    margin-bottom: 30px;
    .counter-container {
        width: 275px;
        height: 275px;
        box-sizing: border-box;
        border: 1px solid;
        font-size: 100px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: grid;
        place-items: center;
        color: #FFF;
        background-color: #000;
    }
    
    button{
        width: 275px;
        margin: 20px;
        font-size: 25px;
    }
}