.table-content-wrapper {
    height: 100%;

    .card-header {
        text-align: center;
    }

    ul {
        font-size: 16px;
        li {
            margin: 0;
            height: 60px;
            padding: 18px;
            text-align: center;

            &:hover {
                box-shadow: -2px 0px 0px 4px #f9f9f9;
            }
    
            a {
                font-size: 16px;
                font-family: monospace;
            }
        }
    }
}