@import "../../../assets/css-vars/variables.scss";

.intro-wrapper{
    width: 100%;
    .text-wrapper {
        margin: 20px;
        width: 1300px;
        background-color: $faint-gray-shade;
    
    
        section {
            padding: 20px;
    
            h2 {
                display: inline-block;
                font-family: cursive;
                font-size: 36px;
                font-weight: 200;
                background-color: #000;
                color: #FFF;
                padding: 10px;
                margin: -20px 0 0 0;
            }
    
            ul {
                font-size: 20px;
                padding: 50px;
                li {
                    margin: 5px 0;
                }
            }
    
            .image-wrapper {
                display: flex;
                
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img#img1 {
                    width: 800px;
                    height: 100%;
                    margin: 30px 0;
                }
    
                img#img2 {
                    width: 400px;
                    height: 350px;
                    margin: 30px 0;
                }
    
            }
    
            .content-wrapper {
                padding: 50px 20px 20px 20px;
                p {
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                }
    
                table {
                    margin-top: 30px;
                }
            }
    
            article {
    
                button {
                    &:active {
                        outline: none;
                    }
                }
                .output {
                    width: 100%;
                }
                pre {
                    margin: 30px 0;
                    padding: 20px;
                    
                    font-size: 16px;
                }
            }
        }
    }
}

