<div class="nav-wrapper">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/logo.png" alt="logo">
        </a>
        <div class="nav-content-wrapper">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Introduction <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/map-operator']">map operator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/filter-operator']">filter operator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/reduce-operator']">reduce operator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/tap-operator']">tap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/duc-operator']">distinctUntilChanged</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/interval-example']" routerLinkActive="router-link-active" >interval object</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/take-operator']">take</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/switchmap-operator']">switchMap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/take-until-operator']">takeUntil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/fork-join']">forkJoin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/combine-latest']">combineLatest</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>